<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OverLink | Persons</title>
  </head>
    <h1 class="on-black" align="center">List of all persons</h1>

    <!-- <ul class="nav nav-tabs nav-justified">
      <li role="presentation" class="active">
        <a href="#">Looking for Guest</a>
      </li>
      <li role="presentation">
        <a href="#">Looking for a Place</a>
      </li>
      <li role="presentation">
        <a href="#">Let's rent together</a>
      </li>
      <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          Dropdown <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          ...
        </ul>
      </li>
    </ul> -->


      <div align="center">
        <%= will_paginate %>
      </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
              <%= render 'listing', obj: @listings %>
            </div>
          </div>
        </div>
      <div align="center">
        <%= will_paginate %>
      </div>





<!-- <p> Go to:  <%= link_to 'New Listing', new_listing_path %> | <%= link_to 'Main', root_path %> </p> -->
