<%= render 'shared/errors', obj: @person %>
<div class="container">
  <div class="row">
    <%= form_for(@person, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class="col-xs-12  col-md-8">
        <div class="form-container-listing">
          <div class="well well-white">
            <div class="form-group">
              <div class="col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-3 col-lg-3">
                <%= image_tag @person.profile_image_url.url(:medium), class: "profilePhoto" if @person.profile_image_url? %>
                <%= f.label :upload_profile_photo %>
                <%= f.file_field :profile_image_url, accept: 'image/png,image/gif,image/jpeg,image/jpg' %>
              </div>
              <div class="col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-6 col-lg-6">
                <%= f.label :full_name %>
                <%= f.text_field :title, class: "form-control", placeholder: "John Doe", autofocus: true %>
                <br>
                <%= f.label :Short_description_160_characters_max %>
                <%= f.text_area :tag_line, class:  "form-control", placeholder: "Great but pretty average man.", autofocus: false %>
              </div>
            </div>
          </div>

          <div class="well well-white">
          <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-10">
              <%= f.label :Twitter %>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">https://www.twitter.com/</span>
                  <%= f.text_field :twitter_url, rows: 1, class: "form-control", placeholder: "overlink", autofocus: false %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-10">
              <%= f.label :Facebook %>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">https://www.facebook.com/</span>
                  <%= f.text_field :facebook_url, rows: 1, class: "form-control", placeholder: "overlink", autofocus: false %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-10">
              <%= f.label :Linkedin %>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">https://www.linkedin.com/in/</span>
                  <%= f.text_field :linkedin_url, rows: 1, class: "form-control", placeholder: "overlink", autofocus: false %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-10">
              <%= f.label :Instagram %>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">https://www.instagram.com/</span>
                  <%= f.text_field :instagram_url, rows: 1, class: "form-control", placeholder: "overlink", autofocus: false %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-10">
              <%= f.label :Snapchat %>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">https://www.snapchat.com/add/</span>
                  <%= f.text_field :snapchat_url, rows: 1, class: "form-control", placeholder: "overlink", autofocus: false %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-10">
              <%= f.label :YouTube %>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">https://www.youtube.com/user/</span>
                  <%= f.text_field :youtube_url, rows: 1, class: "form-control", placeholder: "overlink", autofocus: false %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-10">
              <%= f.label :AngelList %>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">https://www.angel.co/</span>
                  <%= f.text_field :angellist_url, rows: 1, class: "form-control", placeholder: "overlink", autofocus: false %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-10">
              <%= f.label :Medium %>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">https://www.medium.com/</span>
                  <%= f.text_field :medium_url, rows: 1, class: "form-control", placeholder: "@overlink", autofocus: false %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-10">
              <%= f.label :ProductHunt %>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">https://www.producthunt.com/</span>
                  <%= f.text_field :producthunt_url, rows: 1, class: "form-control", placeholder: "@overlink", autofocus: false %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-10">
              <%= f.label :Reddit %>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">https://www.reddit.com/user/</span>
                  <%= f.text_field :reddit_url, rows: 1, class: "form-control", placeholder: "overlink", autofocus: false %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-10">
              <%= f.label :Twitch %>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">https://www.twitch.tv/</span>
                  <%= f.text_field :twitch_url, rows: 1, class: "form-control", placeholder: "overlink", autofocus: false %>
              </div>
            </div>
          </div>
        </div>

          <div class="well well-white">
            <div class="form-group">
                  <div class="col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-10">
                <%= f.label :About %>
                <%= f.text_area :description, rows: 3, class: "form-control", placeholder: "Some words about this person to help other people discover more", autofocus: false %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="well well-white">
          <% if user_signed_in?  %>
            <div class="title-category"><h4>Add this person to the groups you created:</br>
              <small>If you want to add person to the groups created by other users, you need to go to this group and press "Add a new person to this group"</small>
              <br>
              <small><%= link_to 'Add a new group', new_group_path %></small></h4></div>
              <%= f.collection_check_boxes :group_ids, current_user.groups, :id, :title do |cb| %>
                <ul>
                  <%= cb.label(class: "list-group-item list-group-item-on-bg checkbox-inline input_checkbox itme-list") {cb.check_box(class: "list-group-item checkbox ") + cb.text}  %>
                </ul>
             <% end %>
           <% end %>
         </div>
          <% if current_user != @person.user %>
            <% if @person.groups.count == 0 %>
            <% end %>
            <% if @person.groups.count >= 1 %>
              <div class="well well-white">
                <div class="title-category"><h4>Person's groups:</br>
                <small>If you want to deselect person from the group you created, do it here and in the field above.</small>
                <br>
                </h4></div>
                <%= f.collection_check_boxes :group_ids, @person.groups, :id, :title do |cb| %>
                <ul>
                  <%= cb.label(class: "list-group-item list-group-item-on-bg checkbox-inline input_checkbox itme-list") {cb.check_box(class: "list-group-item checkbox ") + cb.text}  %>
                </ul>
                <% end %>
                <% if @person.groups.count == 0 %>
                  <h4><small>New person will get a groups after creating.</small></h4>
                <% end %>
              </div>
            <% end %>
          <% end %>
      </div>

      <div class="col-xs-12 col-md-12">
        <div class="well well-white">
          <div class="form-group">
            <div class=" col-sm-12  col-md-12 col-lg-12">
              <div class="btn-submit-listing">
              <%= f.submit class: 'btn btn-primary btn-lg btn-long'%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
