
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item">
          <%= image_tag @user.avatar.url(:medium), class: "profilePhoto" if @user.avatar? %>
          <% if current_user != @user %>
          <h2 align="center">Welcome to <%= @user.first_name %>'s page</h2>
          <% else %>
          <h2 align="center">Welcome to your profile page</h2>
          <% end %>
        </li><hr class="zero-margin">
        <li class="list-group-item ">
          Interests:
          <div class="list-group-item-responsive ">
          <% if @user.interests.any? %>
          <%= render @user.interests %>
          <% end %>
        </div>
        </li>
      </ul>
    </nav>


    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <% if current_user != @user %>
          <h2 align=""><%= @user.first_name %>'s listings</h2>
          <% else %>
          <h2 align="">Persons you've added:</h2>
          <% end %>
        </div>
      </div>
        <div align="">
          <% if user_signed_in? and current_user.admin? %>
          <%= link_to 'Edit this user',  edit_user_registration_path(@user), class: "btn btn-xs btn-primary" %>
          <% end %>
        </div>

        <%= render 'listings/listing', obj: @user.listings %>
    </div>
  </div>
</div>
