<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OverLink | Categories</title>
  </head>



<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 ">
      <div class="well well-white">
        <h1 align="center"><%= "List of all Groups in " + @category.name %></h1>
        <h1 align="center"><small><%= @category.description %></small></h1>

      </div>
    </div>
  </div>
</div>



<div align="center">
  <% if user_signed_in? and current_user.admin? %>
    <div class="row">
      <span class="badge edit-category-badge"><%= link_to "Edit Category Info", edit_category_path(@category), class: "edit-category" %></span>
    </div>
  <% end %>
  <%= will_paginate @category_groups %>
    </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
            <%= render 'groups/groupfull', obj: @category_groups %>
          </div>
        </div>
      </div>
    <div align="center">
  <%= will_paginate @category_groups %>
</div>
