<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag('overlink_logo.png',style: 'height:80%;width:auto;margin-top:3px;'), root_path, class: "navbar-brand img-responsive", id: "logo" %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Directories<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "People", people_path %></li>
            <li><%= link_to 'Groups', groups_path %></li>
          </ul>
        </li>
        <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actions <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Create a new person', new_person_path %></li>
                <li><%= link_to 'Create a new group', new_group_path %></li>

              </ul>
            </li>
            <% end %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'All categories', categories_path %></li>
                <% Category.all.each do |category| %>
                  <li><%= link_to "#{category.name}", category_path(category) %></li>
                <% end %>
                <% if user_signed_in? and current_user.admin? %>
                <li role="separator" class="divider"></li>
                <li><%= link_to "Create new Category", new_category_path %></li>
                <% end %>

              </ul>
            </li>
      </ul>
      <!-- <form class="navbar-form navbar-left hidden-md hidden-sm">
        <div class="form-group">


        </div>

      </form> -->
      <ul class="nav navbar-nav navbar-right">
            <!-- <li id="nav-guest" ><a href="#">Find a Trip</a></li> -->
            <% if user_signed_in? %>
            <li id="nav-host"><span class="label label-info label-host"><%= link_to 'Add a Person', new_person_path %></span></li>
            <% end %>


            <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Your <%= "admin" if current_user.admin? %> profile<span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <% if current_user  %>
                <div class="row">
                  <div class="col-md-5">
                    <li class="navimage">

                      <% if current_user.avatar?  %>
                      <%= image_tag current_user.avatar.url(:thumb), class: "profilePhotoThumb" %>
                      <% else %>
                      <%= gravatar_for current_user, size: 20 %></li>
                      <% end %>



                  </div>
                  <div class="col-md-7 ">
                    <li class="navname"><%= current_user.name %></li>
                  </div>
                </div>

                <% end %>
                <li role="separator" class="divider"></li>

                <li><%= link_to 'View your public profile', user_path(current_user)%></li>
                <li role="separator" class="divider"></li>

                <li><%= link_to 'Edit your profile', edit_user_path(current_user)%></li>
                <li><%= link_to 'Edit password & email', edit_user_registration_path(current_user)%></li>
                <li role="separator" class="divider"></li>

                <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
            <% else %>

          <li><%= link_to  new_user_session_path do %>
            <p id="p-margin-b-0" ><span class="glyphicon glyphicon-log-in"></span> Log In</p><% end %></li>
          <li><%= link_to  new_user_registration_path do %>
            <p id="p-margin-b-0" ><span class="glyphicon glyphicon-pencil"></span> Sign Up</p><% end %></li>
          <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
